body, header, h1, section, article, div, ul, li {
  margin: 0;
  padding: 0;
  border: 0;

  font:inherit;
  text-align: inherit;
  text-decoration: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body{
  text-align: center;
  font: sans-serif;
}

h1{
  font-size: 60px;
  text-align: center;
}

.grid {
  display: block;
  width: 600px;
  height: 600px;
  margin: auto;
  border: 5px solid black;
}

.grid > ul {
  display: block;
  float: left;
  width: 100%;
  height: 10px;
}

.grid > ul > li {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  border: 1px solid black;
}

.snake {
  background: green;
}
